---
---

<div class="flex text-white gap-x-2 pb-8 card">
   <div class="bg-gradient-to-tr from-blue-400 to-green-400 p-0.5 rounded">
      <div
         class="max-w-[70ch] border-2 border-slate-900 rounded p-4 bg-gray-900"
      >
         <slot />
      </div>
   </div>
</div>
