---
export interface Props {
   percentProgress: string
}

const { percentProgress } = Astro.props
---

<div class="h-2 flex-1 bar-bg rounded-md">
   <div
      style={{ width: percentProgress }}
      class="bg-gradient-to-tr from-blue-400 to-green-400 p-0.5 h-full rounded-md"
   >
   </div>
</div>

<style>
   .bar-bg {
      background-color: rgba(0, 0, 0, 0.3);
   }
</style>
